.navbar {
  color:lavender;
  font-family: sans-serif;
  background-color:beige;

}

#header {
  background-color:beige;
}
h1 {
  font-family: 'Bitter';
}

.img-fluid {
  @include img-fluid;
  border: 1px solid;
  /* max-width:50% */
}

.container-pro {
  align-items: justify;
}

#left-pro {
  text-align: left;
  float: left;
  height: auto;
  /* width: 33.33rem;
  max-width:35% */
  /* padding: 10px 10px 10px 10px; */
  border: 2px solid rgb(45, 108, 103);
  /* margin: 10px;  */
}

#right-pro {
  text-align: left;
  float: left;
  height: auto;
  /* width: 50%;
  max-width: 35%; */
  padding: 10px 10px 10px 10px;
  border: 2px solid rgb(248, 147, 63);
  /* margin:20px; */
}

h3 {
  font-family: 'Rubik';
  color:navy;
}
 

body {
  background-color:beige;
  font-family: sans-serif;
}

