#intro {
  color:blue;
  font-family: sans-serif;

}
h1 {
  font-family: 'Bitter';
}

.img-fluid {
  @include img-fluid;
  border: 1px solid;
  max-width:20%
}

#id {

}

.left {
  text-align: left;
  float: left;
  height: auto;
  /* max-width: 500px; */
  padding: 50px 10px 50px 10px;
  /* border: 2px solid rgb(45, 108, 103); */
  margin: 2px; 
}

.right {
  text-align: left;
  float: left;
  height: auto;
  width: 45%;
  padding: 10px 10px 50px 10px;
  /* border: 2px solid rgb(248, 147, 63); */
}

h3 {
  font-family: 'Rubik';
  color:navy;
}
 

body {
  background-color:beige;
  font-family: sans-serif;
}

