<!--color scheme: https://coolors.co/425641-e47a62-736350-a7b195-e9dac4-->


.navbar-brand, .nav-link, .nav-item  {
  color:#A7B195;
}

#header, .navbar-custom, body {
  background-color:#E9DAC4;
}


h1 {
  font-family: 'Bitter';
  color:#425641;
}

h3 {
  font-family: 'Bitter';
  color:#425641;
}

h4 {
  color: #e47a62;
  font-family:'Bitter';
}

body, .navbar-custom {
  font-family: 'Rubik';

}
.img-fluid {
  @include img-fluid;
  border: 1px solid;
  /* max-width:50% */
}

.container-pro {
  align-items: justify;
}

#left-pro {
  text-align: left;
  float: left;
  height: auto;
  /* width: 33.33rem;
  max-width:35% */
  /* padding: 10px 10px 10px 10px; */
  /* border: 2px solid rgb(45, 108, 103); */
  /* margin: 10px;  */
}

#right-pro {
  text-align: left;
  float: left;
  height: auto;
  /* width: 50%;
  max-width: 35%; */
  padding: 10px 10px 10px 10px;
  /* border: 2px solid rgb(248, 147, 63); */
  /* margin:20px; */
}

 
.navbar-custom {
  
  background-color:#A7B195;
  
}

.navbar-custom a {
  color:#425641;
  font-family: 'Rubik';

}

#icon-bar {
  color: #425641;
}

.navbar-toggler-icon {
  color: #425641;

  border-color:white;
  background-color: #425641;


 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");

}


.navbar-custom a:hover {
  color:#E47A62;
}

@media screen and (max-width: 600px) {
  .column {
    width:100%;
  }
}

@media screen and (max-width 992px) {
  .column {
    width:50%;
  }
}

@media (max-width 1080px) {
  .tech-skills {
    width: 50%;
  }
}